.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border-color: rgb(180, 180, 180);
}

th, td {
  padding: 8px;
}

.table-wrapper {
  margin: 6px;
}

tr:nth-child(2n) {
  background-color: rgb(242, 242, 242);
}